---
//import des components
import AccueilLayout from '../layouts/AccueilLayout.astro'
import { xata } from '../lib/xata'

import Render from '../components/Render.astro'

//import de la base de donnée
const data = await xata.db.objects.getAll()


---

<AccueilLayout>
    <Render data={data} />
</AccueilLayout>