---
//import des components
import AccueilLayout from '../layouts/AccueilLayout.astro'

import Render from '../components/Render.astro'


//code
var DATA:any;
const search =  Astro.url.searchParams.get("q")!.toString();
const filter = Astro.url.searchParams.get("f")!.toString();

async function fetchSearchResults(recherche:string,filtre:string){
       
      const res = await import(`./search.json`); //comme on est coté serveur on a juste à importer et pas fetch
      const data = await ( await res.get(recherche,filtre)).json(); //ne pas croire le message d'erreur 
      
      return data;
       
   }
   //on récupère le tableau 
   DATA =  await  fetchSearchResults(search,filter);
---

<AccueilLayout>    
  <Render id="render" data={DATA}/>   
</AccueilLayout>

