

<header class="bg-gray-800 ">
    <nav class="bg-gray-800 border-gray-900 fixed w-full px-4 z-30 lg:px-6 pb-2 ">
        <div class="flex flex-wrap grid-cols-11 justify-center items-center text-center align-middle mx-auto max-w-screen-xl">
            <div class="items-center hover:bg-slate-100 hover:rounded-full ">
                <a href="/" class="self-center text-2xl py-2 px-3 rounded-xl  font-semibold whitespace-nowrap text-white hover:text-blue-400" >Inventaire MiNET</a>
            </div>


        </div>
    </nav>
</header>  
