---
//Permet d'afficher les listes d'éléments plus facilement
const { data } = Astro.props;
import AddButton from "./AddButton";
import SubButton from "./SubButton";
import DeleteButton from "./DeleteButton";

---
<ul class="relative  w-full">
  <li class="flex place-content-around fixed py-2 z-40 text-xl  w-full bg-gray-800 text-white " >
    <div class="flex w-5/6 ">
      <p class="w-1/3 text-center" >Nom </p>
      <p class="w-1/3 text-center" >Localisation</p>
      <p class="w-1/3 text-center">Nombres</p>
    </div>
    <div class="flex w-1/6">
  
    </div>
  </li>

  <div class="pt-10">
      {data.map((post:any) =>  (
      
        <li  class="flex relative mb-2 p-1  rounded-lg   w-full bg-blue-400 text-base ">
          <div class="flex w-5/6 place-content-around">
            <div class="w-1/3 ">
              <p class="text-center"  >{post.Name} </p>
            </div>
            <div class="w-1/3">
              <p class="text-center">{post.Localisation} </p>
            </div>
            <div class="w-1/3">
            <p class="text-center">{post.Nombres}   </p>
            </div>
          </div>
          <div class="flex space-x-2 w-1/6 ">
            <p class="bg-white  text-3xl flex rounded-full px-4 hover:bg-blue-500"><AddButton id={post.id} client:only/></p>
            <p class="bg-white text-3xl flex rounded-full px-4 hover:bg-blue-500"><SubButton id={post.id} client:only/></p>
            
            <p class="bg-white rounded-full p-2.5 hover:bg-blue-500"><DeleteButton   id={post.id} client:only /></p>
          
          </div>
          
        </li>
          
        
        ) )
        
        
        }
      
    </div>
  </ul>