---
import  {WHERE}  from "../../src/const"
---

<div>
    <form>
        <input id="sub" type="submit" value="Search" class="rounded-full p-1 bg-blue-400 hover:bg-blue-500">
          <input type="search" 
               name="search" 
               id="search"
               placeholder="Search an item"
               class="outline-none text-sm text-gray-700 pr-2"/>
        <select name="filter" id="filter" >
            <option>All</option>
            {WHERE.map((loca) => (
                <option > {loca}</option>
            ))}
                
        </select>       
    </form>
</div>

<script>
    const form = document.querySelector("form")
    const button = document.getElementById("sub")
    
    button?.addEventListener("click", (e) =>{
        e.preventDefault();
        if(form !== null){
        const formData = new FormData(form);
        const searchData = formData.get("search")?.toString();
        const filterData = formData.get("filter")?.toString();
        
        const url = new URL("/search", window.location.origin);
        //on ne fait pas de vérification pour l'input pour pouvoir faire uniquement une recherche sur le lieu
        url.searchParams.set("q",searchData);
        if ( !filterData ) return ;
        url.searchParams.set("f",filterData);
        window.location.assign(url.toString());}
    })
    
</script>