---

import SearchBar from "./SearchBar.astro";
import Form from "./Form";



---
<head>
    <scrip type="text/javascript" src="javascript.js">

    </scrip>
</head>


<nav class="bg-gray-800 border-gray-900 w-full px-4 z-40 pb-4 fixed">
    <div class="flex flex-wrap grid-cols-11 space-x-5 place-content-around text-center mx-auto max-w-screen-xl">
        <!---<Search client:only/> --->
        <SearchBar id="a"/>
       

        <button class="text-white bg-slate-600 rounded-full p-2 hover:bg-slate-200 hover:text-blue-400" id='openBtn' > Add object </button>
        
        <dialog class="shadow-lg shadow-blue-400 z-50 fixed inset-0 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full  h-64 "  id="dialog">
            <div class="bg-gray-700 h-full flex  content-center shadow-md rounded-full px-8 pt-6 pb-8">
                 
                    
                <Form  client:only/>
                   
                <button class="pl-2"id='closeBtn'>Close</button>
            </div>
         
        </dialog>
            

    </div>
</nav>

<!---inset-0 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2  display: flex;
justify-content: center;
align-items: center; -->
