---

import Entete from "../components/Entete.astro";
import Toolbar from "../components/ToolBar.astro"
import Logo from "../../public/favicon.ico"
---

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inventaire</title>
        <meta name="description" content="Acceuil">
        <link rel="stylesheet">
        <link rel="icon" href="/minet_light.png">
        <script type="text/javascript" src="javascript.js" />
        
    </head>

    <body class="flex flex-col min-h-screen bg-gray-900">
        <div class="pb-9">
            <Entete/>
        </div>
        <div>
            <Toolbar/>
        </div>

        <div class="pt-10">

        <slot />
        
        </div>

        
        <div class="grow invisible"></div>
           
        
    </body>
</html>